<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cartoon.mapper.UserMapper">

    <select id="getUserById" resultType="com.cartoon.entity.User">
        select
        id as id,
        head_img as headImg,
        nickname as nickname,
        username as username,
        gender as gender,
        born as born,
        address as address,
        password as password,
        phone as phone,
        email as email,
        is_delete as isDelete,
        gold as gold,
        ticket as ticket,
        score as score,
        coupon as coupon,
        vip as vip,
        qq as qq,
        created_time as createdTime,
        modifiy_time as modifiyTime,
        check_username as checkUsername,
        vip_expire as vipExpire,
        recommender as recommender,
        fans_count as fansCount,
        focus_count as focusCount
        from user
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getUserListByMap" resultType="com.cartoon.entity.User" parameterType="java.util.Map">
        select
        id as id,
        head_img as headImg,
        nickname as nickname,
        username as username,
        gender as gender,
        born as born,
        address as address,
        password as password,
        phone as phone,
        email as email,
        is_delete as isDelete,
        gold as gold,
        ticket as ticket,
        score as score,
        coupon as coupon,
        vip as vip,
        qq as qq,
        created_time as createdTime,
        modifiy_time as modifiyTime,
        check_username as checkUsername,
        vip_expire as vipExpire,
        recommender as recommender,
        fans_count as fansCount,
        focus_count as focusCount
        from user
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null and id!=''">
                and id=#{id}
            </if>
            <if test="headImg != null and headImg!=''">
                and head_img=#{headImg}
            </if>
            <if test="nickname != null and nickname!=''">
                and nickname=#{nickname}
            </if>
            <if test="username != null and username!=''">
                and username=#{username}
            </if>
            <if test="gender != null and gender!=''">
                and gender=#{gender}
            </if>
            <if test="born != null and born!=''">
                and born=#{born}
            </if>
            <if test="address != null and address!=''">
                and address=#{address}
            </if>
            <if test="password != null and password!=''">
                and password=#{password}
            </if>
            <if test="phone != null and phone!=''">
                and phone=#{phone}
            </if>
            <if test="email != null and email!=''">
                and email=#{email}
            </if>
            <if test="isDelete != null and isDelete!=''">
                and is_delete=#{isDelete}
            </if>
            <if test="gold != null and gold!=''">
                and gold=#{gold}
            </if>
            <if test="ticket != null and ticket!=''">
                and ticket=#{ticket}
            </if>
            <if test="score != null and score!=''">
                and score=#{score}
            </if>
            <if test="coupon != null and coupon!=''">
                and coupon=#{coupon}
            </if>
            <if test="vip != null and vip!=''">
                and vip=#{vip}
            </if>
            <if test="qq != null and qq!=''">
                and qq=#{qq}
            </if>
            <if test="createdTime != null and createdTime!=''">
                and created_time=#{createdTime}
            </if>
            <if test="modifiyTime != null and modifiyTime!=''">
                and modifiy_time=#{modifiyTime}
            </if>
            <if test="checkUsername != null and checkUsername!=''">
                and check_username=#{checkUsername}
            </if>
            <if test="vipExpire != null and vipExpire!=''">
                and vip_expire=#{vipExpire}
            </if>
            <if test="recommender != null and recommender!=''">
                and recommender=#{recommender}
            </if>
            <if test="fansCount != null and fansCount!=''">
                and fans_count=#{fansCount}
            </if>
            <if test="focusCount != null and focusCount!=''">
                and focus_count=#{focusCount}
            </if>

        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getUserCountByMap" resultType="Integer" parameterType="java.util.Map">
        select count(*) from user
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null and id!=''">
                and id=#{id}
            </if>
            <if test="headImg != null and headImg!=''">
                and head_img=#{headImg}
            </if>
            <if test="nickname != null and nickname!=''">
                and nickname=#{nickname}
            </if>
            <if test="username != null and username!=''">
                and username=#{username}
            </if>
            <if test="gender != null and gender!=''">
                and gender=#{gender}
            </if>
            <if test="born != null and born!=''">
                and born=#{born}
            </if>
            <if test="address != null and address!=''">
                and address=#{address}
            </if>
            <if test="password != null and password!=''">
                and password=#{password}
            </if>
            <if test="phone != null and phone!=''">
                and phone=#{phone}
            </if>
            <if test="email != null and email!=''">
                and email=#{email}
            </if>
            <if test="isDelete != null and isDelete!=''">
                and is_delete=#{isDelete}
            </if>
            <if test="gold != null and gold!=''">
                and gold=#{gold}
            </if>
            <if test="ticket != null and ticket!=''">
                and ticket=#{ticket}
            </if>
            <if test="score != null and score!=''">
                and score=#{score}
            </if>
            <if test="coupon != null and coupon!=''">
                and coupon=#{coupon}
            </if>
            <if test="vip != null and vip!=''">
                and vip=#{vip}
            </if>
            <if test="qq != null and qq!=''">
                and qq=#{qq}
            </if>
            <if test="createdTime != null and createdTime!=''">
                and created_time=#{createdTime}
            </if>
            <if test="modifiyTime != null and modifiyTime!=''">
                and modifiy_time=#{modifiyTime}
            </if>
            <if test="checkUsername != null and checkUsername!=''">
                and check_username=#{checkUsername}
            </if>
            <if test="vipExpire != null and vipExpire!=''">
                and vip_expire=#{vipExpire}
            </if>
            <if test="recommender != null and recommender!=''">
                and recommender=#{recommender}
            </if>
            <if test="fansCount != null and fansCount!=''">
                and fans_count=#{fansCount}
            </if>
            <if test="focusCount != null and focusCount!=''">
                and focus_count=#{focusCount}
            </if>
        </trim>
    </select>

    <insert id="insertUser" parameterType="com.cartoon.entity.User">
        insert into user(
                        id,
                        head_img,
                        nickname,
                        username,
                        password,
                        phone,
                        created_time,
                        modifiy_time,
                        vip,
                        vip_expire,
                        recommender,
                        fans_count,
                        focus_count)
        values(
                     #{id},
                     #{headImg},
                     #{nickname},
                     #{username},
                     #{password},
                     #{phone},
                     #{createdTime},
                     #{modifiyTime},
                     #{vip},
                     #{vipExpire},
                     #{recommender},
                     #{fansCount},
                     #{focusCount})
    </insert>
<!--and (gold>=#{gold} or ticket>=#{ticket} or score>=#{score} or coupon>=#{coupon})-->
    <update id="updateUser" parameterType="com.cartoon.entity.User">
        update user
        <trim prefix="set" suffixOverrides="," suffix="where phone=#{phone} ">
            <if test="headImg != null and headImg!=''">
                head_img=#{headImg},
            </if>
            <if test="nickname != null and nickname!=''">
                nickname=#{nickname},
            </if>
            <if test="username != null and username!=''">
                username=#{username},
            </if>
            <if test="gender != null and gender!=''">
                gender=#{gender},
            </if>
            <if test="born != null and born!=''">
                born=#{born},
            </if>
            <if test="address != null and address!=''">
                address=#{address},
            </if>
            <if test="password != null and password!=''">
                password=#{password},
            </if>

            <if test="email != null and email!=''">
                email=#{email},
            </if>
            <if test="isDelete != null and isDelete!=''">
                is_delete=#{isDelete},
            </if>
            <if test="gold != null and gold!=''">
                gold=gold+#{gold},
            </if>
            <if test="ticket != null and ticket!=''">
                ticket=ticket+#{ticket},
            </if>
            <if test="score != null and score!=''">
                score=score+#{score},
            </if>
            <if test="coupon != null and coupon!=''">
                coupon=coupon+#{coupon},
            </if>
            <if test="vip != null and vip!='' or vip ==0">
                vip=#{vip},
            </if>
            <if test="qq != null and qq!=''">
                qq=#{qq},
            </if>
            <if test="createdTime != null and createdTime!=''">
                created_time=#{createdTime},
            </if>
            <if test="modifiyTime != null and modifiyTime!=''">
                modifiy_time=#{modifiyTime},
            </if>
            <if test="checkUsername != null and checkUsername!=''">
                check_username=#{checkUsername},
            </if>
            <if test="vipExpire != null and vipExpire!=''">
                vip_expire=#{vipExpire},
            </if>

            <if test="recommender != null and recommender!=''">
                recommender=#{recommender},
            </if>
            <if test="fansCount != null and fansCount!=''">
                fans_count=#{fansCount},
            </if>
            <if test="focusCount != null and focusCount!=''">
                focus_count=#{focusCount}
            </if>
        </trim>
    </update>
</mapper>